.sessionsView {
    padding: 16px 20px;
}

.loading {
    color: var(--text-secondary);
    font-size: 11px;
    padding: 20px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 14px;
}

.title {
    color: var(--text-secondary);
    font-size: 12px;
}

.count {
    font-size: 11px;
    color: var(--text-tertiary);
}

.list {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--bg-color-secondary);
    border: 0.5px solid var(--border-color-secondary);
    border-radius: 8px;
    padding: 11px 14px;
    cursor: pointer;
    position: relative;
}

.row:hover {
    background: var(--border-color-card)
}

.sessionInfo {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sessionName {
    color: var(--text-accented);
    font-size: 12px;
    font-weight: 500;
}

.sessionMeta {
    font-size: 11px;
    color: var(--text-label);
}

.right {
    display: flex;
    gap: 10px;
}

.sessionNumbers {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sessionPackets {
    font-size: 12px;
    color: var(--text-accented);
    font-weight: 500;
    text-align: right;
}

.sessionBytes {
    font-size: 11px;
    color: var(--text-label);
    text-align: right;
}

.options {
    margin-top: -3px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.emoji {
    background-color: transparent;
    border: none;
    border-radius: 2px;
}

.emoji:hover {
    background-color: var(--purple-border);
    cursor: pointer;
}